{% extends 'admin/admin.html.twig' %}
{% block title %}edit{% endblock %}

{% block body %}
  <h1>{{recipe.title}}</h1>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}


{% endblock %}
 