
{% extends 'base.html.twig' %}

{% block title %}creer une recette{% endblock %}

{% block body %}
<h1>Créer une Recette</h1> 

{{ form_start(form) }}

{{ form_widget(form) }}
{{ form_end(form) }}


{% endblock %}