{% extends 'base.html.twig' %}

{% block title %}toutes les recettes{% endblock %}

{% block body %}
lorem ipsum dolor sit amet, consectetur adipisicing elit.

<h1>toutes les recettes</h1>

{{slug}}

{% endblock %}
 