
{% extends 'admin/admin.html.twig' %}

{% block title %}créer une Catégorie{% endblock %}

{% block body %}
<h1>creer une Catégorie</h1> 

{{ form_start(form) }}

{{ form_widget(form) }}
{{ form_end(form) }}


{% endblock %}