{% extends 'admin/admin.html.twig' %}
{% block title %}editer une categorie{% endblock %}

{% block body %}
  <h1>editer une categorie</h1>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}


{% endblock %}
 